---
// internal components
import Heading from "./heading.astro";
import Subheading from "./subheading.astro";
import MailChimpIntegration from "./mailchimp";

const phoneInfo = [
  { contactDetails: "Toll-free: +1 (416) 231-2333" },
  { contactDetails: "T: +1 (416) 231-2333" },
];

const addressInfo = [
  {
    locationName: "LetsStopAIDS HQ",
    locationAddress: "160 John St, Suite 200, Toronto, ON M5V 2E5",
  },
  {
    locationName: "LetsStopAIDS Guyana",
    locationAddress:
      "Lot 8 Back Street, Better Hope, East Coast Demerara, Guyana",
  },
];
---

<footer
  class="w-screen bg-dark py-8 px-8 lg:px-[5vw] 3xl:px-[10vw] flex flex-col gap-y-6"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="256"
    height="41"
    viewBox="0 0 256 41"
    fill="none"
  >
    <path
      d="M19.1182 37.5753C16.0782 36.469 13.638 34.2459 12.2421 31.33C10.8565 28.4141 10.6704 25.126 11.7251 22.0654C11.7458 22.0034 11.7665 21.931 11.7975 21.8689C11.8182 21.8069 11.8492 21.7345 11.8699 21.6725C13.0279 18.6532 15.282 16.2544 18.2186 14.9205C21.1655 13.5763 24.4536 13.4419 27.5039 14.5483C28.8894 15.0549 30.1199 15.7787 31.1952 16.6783C31.9087 17.278 32.9013 16.3681 32.3636 15.6029C30.5335 13.0283 27.9071 10.9706 24.6914 9.85393C16.6366 7.07248 7.77525 11.2912 4.8387 19.2943C1.85046 27.4318 6.05881 36.4793 14.2067 39.4469C17.3087 40.5739 20.5451 40.667 23.523 39.8811C24.4226 39.6433 24.2468 38.3095 23.3162 38.3095C21.9203 38.3095 20.5037 38.0717 19.1285 37.565"
      fill="#F6F4EC"></path>
    <path
      d="M33.656 21.2383C32.3635 18.4776 30.0784 16.3785 27.2142 15.3342C25.0325 14.538 23.0575 14.507 21.4342 14.7862C20.5759 14.9309 20.5449 16.1614 21.3928 16.3475C21.8167 16.4406 22.2407 16.5647 22.6543 16.7301C24.6189 17.4953 26.2422 18.9635 27.1935 20.8557C28.2792 23.0271 28.4033 25.488 27.5451 27.7525C26.7696 29.7895 25.2186 31.4645 23.254 32.4158C21.1653 33.4188 18.8078 33.5325 16.6364 32.7363C16.2745 32.6019 15.9333 32.4572 15.6024 32.2814C14.8269 31.8781 14.0618 32.8397 14.6201 33.5015C15.6852 34.7526 17.2155 35.9934 19.3972 36.7896C22.2614 37.8339 25.3633 37.6995 28.1241 36.407C30.8849 35.1145 32.9839 32.8294 34.0282 29.9652C35.0622 27.1218 34.9278 23.9784 33.6456 21.2383"
      fill="#F6F4EC"></path>
    <path
      d="M39.8702 20.5763C37.6678 20.5763 35.8893 22.3548 35.8893 24.5572C35.8893 26.7596 37.6678 28.5381 39.8702 28.5381C42.0726 28.5381 43.8511 26.7596 43.8511 24.5572C43.8511 22.3548 42.0726 20.5763 39.8702 20.5763Z"
      fill="#F6F4EC"></path>
    <path
      d="M6.07979 -0.000114019C2.7193 -0.000114313 -0.000111708 2.71929 -0.000112002 6.07978C-0.000112296 9.44026 2.7193 12.1597 6.07979 12.1597C9.44027 12.1597 12.1597 9.44026 12.1597 6.07978C12.1597 2.71929 9.44027 -0.000113725 6.07979 -0.000114019Z"
      fill="#F6F4EC"></path>
    <path
      d="M58.6756 8.15046V27.8175H70.0513V31.8968H53.8003V8.15046H58.6756Z"
      fill="#F6F4EC"></path>
    <path
      d="M86.8695 24.302H75.0626C75.1289 25.717 75.35 26.723 75.7259 27.32C76.3671 28.2929 77.3731 28.7793 78.744 28.7793C80.4464 28.7793 81.5851 28.0717 82.16 26.6567H86.6705C86.1619 28.3813 85.167 29.7521 83.6856 30.7692C82.2263 31.7642 80.5128 32.2616 78.545 32.2616C75.8696 32.2616 73.8134 31.3662 72.3762 29.5752C71.1159 28.0054 70.4858 25.9381 70.4858 23.3733C70.4858 20.2558 71.3039 17.8458 72.94 16.1433C74.3772 14.684 76.2676 13.9544 78.6113 13.9544C80.4022 13.9544 81.972 14.3966 83.3208 15.281C84.6695 16.1654 85.6313 17.4036 86.2062 18.9955C86.6705 20.2337 86.9026 21.7261 86.9026 23.4728C86.9026 23.6939 86.8916 23.9703 86.8695 24.302ZM82.1268 21.2839C81.9057 18.7191 80.7228 17.4367 78.5781 17.4367C76.5661 17.4367 75.4164 18.7191 75.1289 21.2839H82.1268Z"
      fill="#F6F4EC"></path>
    <path
      d="M96.9382 14.3192V17.3372H93.8539V27.121C93.8539 27.7622 93.9644 28.2044 94.1855 28.4476C94.4287 28.6908 94.8599 28.8124 95.479 28.8124C95.9875 28.8124 96.6397 28.6134 97.4357 28.2155C97.502 28.1712 97.5573 28.1381 97.6015 28.116L98.1322 31.2335C96.7392 31.9189 95.28 32.2616 93.7544 32.2616C90.7695 32.2616 89.2771 30.8908 89.2771 28.1491V17.3372H87.0218V14.3192H89.2771V11.4007L93.8539 8.7806V14.3192H96.9382Z"
      fill="#F6F4EC"></path>
    <path
      d="M114.714 19.493H110.071C110.049 18.7855 109.795 18.288 109.308 18.0006C108.822 17.691 107.981 17.5362 106.788 17.5362C105.041 17.5362 104.167 18.0448 104.167 19.0618C104.167 19.6588 104.698 20.101 105.759 20.3885L111.53 22.0136C113.83 22.6548 114.979 24.114 114.979 26.3914C114.979 28.1823 114.283 29.6305 112.89 30.736C111.585 31.7531 109.706 32.2616 107.252 32.2616C104.245 32.2616 102.089 31.8194 100.785 30.935C99.5022 30.0948 98.8168 28.7351 98.7284 26.8557H103.272C103.405 27.5853 103.714 28.0717 104.201 28.315C104.709 28.5582 105.638 28.6798 106.987 28.6798C109.264 28.6798 110.403 28.1381 110.403 27.0547C110.403 26.4135 109.894 25.9381 108.877 25.6286L103.438 23.9703C102.045 23.5502 101.094 23.0638 100.586 22.511C99.9223 21.8256 99.5907 20.897 99.5907 19.7251C99.5907 17.8016 100.32 16.3202 101.78 15.281C103.062 14.3966 104.742 13.9544 106.821 13.9544C109.341 13.9544 111.331 14.5182 112.79 15.6458C114.051 16.6408 114.692 17.9232 114.714 19.493Z"
      fill="#F6F4EC"></path>
    <path
      d="M135.406 15.3142H130.829C130.674 12.9042 129.016 11.6991 125.854 11.6991C124.594 11.6991 123.588 11.9534 122.836 12.462C122.107 12.9705 121.742 13.6559 121.742 14.5182C121.742 15.3584 122.051 15.9885 122.67 16.4086C123.289 16.8287 124.483 17.2046 126.252 17.5362L129.967 18.2327C132.156 18.6528 133.748 19.3714 134.743 20.3885C135.737 21.4055 136.235 22.8427 136.235 24.6999C136.235 27.2426 135.262 29.1773 133.316 30.5039C131.636 31.6757 129.37 32.2616 126.518 32.2616C123.267 32.2616 120.791 31.5099 119.089 30.0064C117.607 28.7019 116.8 26.8889 116.667 24.5673H121.41C121.587 27.0878 123.367 28.3481 126.75 28.3481C128.253 28.3481 129.425 28.0828 130.265 27.5522C131.128 26.9994 131.559 26.2477 131.559 25.2969C131.559 24.3683 131.216 23.6497 130.531 23.1412C129.867 22.6326 128.717 22.2236 127.081 21.9141L123.765 21.2839C121.355 20.8417 119.63 20.1452 118.591 19.1945C117.574 18.2217 117.065 16.8287 117.065 15.0157C117.065 12.5614 117.961 10.7042 119.752 9.44391C121.3 8.3384 123.4 7.78564 126.053 7.78564C129.259 7.78564 131.669 8.51528 133.283 9.97455C134.676 11.2569 135.384 13.0368 135.406 15.3142Z"
      fill="#F6F4EC"></path>
    <path
      d="M146.923 14.3192V17.3372H143.839V27.121C143.839 27.7622 143.949 28.2044 144.171 28.4476C144.414 28.6908 144.845 28.8124 145.464 28.8124C145.973 28.8124 146.625 28.6134 147.421 28.2155C147.487 28.1712 147.542 28.1381 147.587 28.116L148.117 31.2335C146.724 31.9189 145.265 32.2616 143.739 32.2616C140.755 32.2616 139.262 30.8908 139.262 28.1491V17.3372H137.007V14.3192H139.262V11.4007L143.839 8.7806V14.3192H146.923Z"
      fill="#F6F4EC"></path>
    <path
      d="M156.839 13.9544C159.735 13.9544 161.957 14.883 163.505 16.7403C164.854 18.3322 165.528 20.4548 165.528 23.108C165.528 26.1592 164.655 28.5029 162.908 30.1391C161.383 31.5541 159.359 32.2616 156.839 32.2616C153.942 32.2616 151.72 31.3441 150.173 29.5089C148.824 27.8949 148.15 25.7612 148.15 23.108C148.15 20.0789 149.023 17.7463 150.77 16.1101C152.295 14.673 154.318 13.9544 156.839 13.9544ZM156.839 17.6357C155.601 17.6357 154.606 18.1443 153.854 19.1613C153.102 20.1563 152.726 21.4719 152.726 23.108C152.726 24.8768 153.146 26.2698 153.987 27.2868C154.738 28.1491 155.689 28.5803 156.839 28.5803C158.077 28.5803 159.072 28.0828 159.824 27.0878C160.598 26.0708 160.985 24.7442 160.985 23.108C160.985 21.3613 160.553 19.9794 159.691 18.9623C158.939 18.0779 157.989 17.6357 156.839 17.6357Z"
      fill="#F6F4EC"></path>
    <path
      d="M171.785 14.3192V16.8398C172.846 14.9162 174.471 13.9544 176.66 13.9544C177.7 13.9544 178.717 14.2087 179.712 14.7172C180.729 15.2257 181.536 15.889 182.133 16.7071C183.393 18.4538 184.023 20.6317 184.023 23.2407C184.023 26.0487 183.238 28.315 181.668 30.0396C180.32 31.5209 178.65 32.2616 176.66 32.2616C174.494 32.2616 172.868 31.4325 171.785 29.7742V38.9942H167.208V14.3192H171.785ZM175.599 17.7684C174.449 17.7684 173.521 18.2659 172.813 19.2608C172.106 20.2337 171.752 21.5271 171.752 23.1412C171.752 24.7331 172.106 26.0155 172.813 26.9883C173.521 27.9612 174.449 28.4476 175.599 28.4476C176.749 28.4476 177.677 27.9612 178.385 26.9883C179.092 26.0155 179.446 24.7331 179.446 23.1412C179.446 21.5271 179.092 20.2337 178.385 19.2608C177.677 18.2659 176.749 17.7684 175.599 17.7684Z"
      fill="#F6F4EC"></path>
    <path
      d="M199.528 27.121H190.64L189.048 31.8968H184.073L192.497 8.15046H197.903L206.128 31.8968H201.087L199.528 27.121ZM198.202 23.0417L195.117 13.7554L192 23.0417H198.202Z"
      fill="#F6F4EC"></path>
    <path d="M212.595 8.15046V31.8968H207.72V8.15046H212.595Z" fill="#F6F4EC"
    ></path>
    <path
      d="M215.147 31.8968V8.15046H224.433C227.904 8.15046 230.403 9.06804 231.928 10.9032C233.852 13.2026 234.814 16.2428 234.814 20.0236C234.814 23.8266 233.852 26.8667 231.928 29.1441C230.381 30.9792 227.882 31.8968 224.433 31.8968H215.147ZM220.022 27.8175H224.433C228.103 27.8175 229.939 25.2195 229.939 20.0236C229.939 14.8277 228.103 12.2298 224.433 12.2298H220.022V27.8175Z"
      fill="#F6F4EC"></path>
    <path
      d="M254.779 15.3142H250.202C250.047 12.9042 248.389 11.6991 245.227 11.6991C243.967 11.6991 242.961 11.9534 242.209 12.462C241.48 12.9705 241.115 13.6559 241.115 14.5182C241.115 15.3584 241.424 15.9885 242.043 16.4086C242.662 16.8287 243.856 17.2046 245.625 17.5362L249.34 18.2327C251.529 18.6528 253.121 19.3714 254.116 20.3885C255.111 21.4055 255.608 22.8427 255.608 24.6999C255.608 27.2426 254.635 29.1773 252.689 30.5039C251.009 31.6757 248.743 32.2616 245.891 32.2616C242.64 32.2616 240.164 31.5099 238.462 30.0064C236.98 28.7019 236.173 26.8889 236.04 24.5673H240.783C240.96 27.0878 242.74 28.3481 246.123 28.3481C247.626 28.3481 248.798 28.0828 249.638 27.5522C250.501 26.9994 250.932 26.2477 250.932 25.2969C250.932 24.3683 250.589 23.6497 249.904 23.1412C249.24 22.6326 248.091 22.2236 246.454 21.9141L243.138 21.2839C240.728 20.8417 239.003 20.1452 237.964 19.1945C236.947 18.2217 236.438 16.8287 236.438 15.0157C236.438 12.5614 237.334 10.7042 239.125 9.44391C240.673 8.3384 242.773 7.78564 245.426 7.78564C248.632 7.78564 251.042 8.51528 252.656 9.97455C254.049 11.2569 254.757 13.0368 254.779 15.3142Z"
      fill="#F6F4EC"></path>
  </svg>

  <div class="flex flex-col font-paragraphs gap-y-4 text-floral-white">
    <p class={`text-xl font-bold capitalize `}>Newsletter</p>
    <p class={`text-base`}>
      Want to receive updates from LetsStopAIDS? Subscribe to our newsletter!
    </p>
    <MailChimpIntegration client:load />
    <p class={`font-paragraphs text-base hidden md:block`}>
      By subscribing you agree to with our Privacy Policy and provide consent to
      receive updates from our company.
    </p>
    <div
      class={`border-t-[1px] dark:border-isabelline border-floral-white w-full my-6 md:my-8`}
    >
    </div>
    <div class="flex flex-col gap-y-8">
      <div class="flex flex-col gap-y-1">
        <Heading text="email:" />
        <div class={`font-paragraphs flex flex-col space-y-2 `}>
          <Subheading>
            info@letsstopaids.org
            <span
              class={`block max-w-0 group-hover:max-w-full transition-all duration-500 h-[1.125px]
              dark:bg-metallic-yellow bg-blood-animal
              `}></span>
          </Subheading>
        </div>
      </div>
      <div class="flex flex-col gap-y-1">
        <Heading text="phone:" />
        <div class={`font-paragraphs flex flex-col space-y-2 `}>
          {
            phoneInfo.map((elem, index) => (
              <Fragment key={index}>
                <Subheading>
                  {elem.contactDetails}
                  <span
                    class={`block max-w-0 group-hover:max-w-full transition-all duration-500 h-[1.125px]
              dark:bg-metallic-yellow bg-blood-animal
              `}
                  />
                </Subheading>
              </Fragment>
            ))
          }
        </div>
      </div>
      <div class="flex flex-col gap-y-1">
        <Heading text="find us:" />
        <div class={`font-paragraphs flex flex-col space-y-2 `}>
          {
            addressInfo.map((elem, index) => (
              <Fragment key={index}>
                <Subheading>
                  <>
                    <span class="font-bold lg:text-lg">
                      {elem.locationName}
                    </span>{" "}
                    - {elem.locationAddress}
                  </>
                </Subheading>
              </Fragment>
            ))
          }
        </div>
      </div>

      <div
        class={`border-t-[1px] dark:border-isabelline border-floral-white w-full my-6 md:my-8`}
      >
      </div>
      <div
        class={`font-paragrahs flex flex-col-reverse gap-2 justify-between md:flex-row`}
      >
        <div class="flex gap-x-2">
          2023
          <p class="dark:text-metallic-yellow text-blood-animal">
            LetsStopAIDS.
          </p>
           All right reserved.
        </div>
        <div class="flex gap-x-8 text-sm">
          <p class="underline-offset-4 decoration-[0.5px] underline">
            Terms of Service
          </p>
          <p class="underline-offset-4 decoration-[0.5px] underline">
            Privacy Policy
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
